extends ../_custom_layout.jade

block sidebar
  aside.sidebar
    h4 Features
    ul.sidebar_list
      li.sidebar_list-item
        a(href="/examples/hello-world" class="sidebar__link #{ current.path[1] == 'hello-world' ? 'sidebar__link--active' : '' }") Hello World

      li.sidebar_list-item
        a(href="/examples/filter-options" class="sidebar__link #{ current.path[1] == 'filter-options' ? 'sidebar__link--active' : '' }") Filter options

      li.sidebar_list-item
        a(href="/examples/filter-by-url" class="sidebar__link #{ current.path[1] == 'filter-by-url' ? 'sidebar__link--active' : '' }") Filter by url

      li.sidebar_list-item
        a(href="/examples/filter-by-string" class="sidebar__link #{ current.path[1] == 'filter-by-string' ? 'sidebar__link--active' : '' }") Filter by string

      li.sidebar_list-item
        a(href="/examples/filter-by-conditions" class="sidebar__link #{ current.path[1] == 'filter-by-conditions' ? 'sidebar__link--active' : '' }") Filter by conditions

      li.sidebar_list-item
        a(href="/examples/filter-by-custom-properties" class="sidebar__link #{ current.path[1] == 'filter-by-custom-properties' ? 'sidebar__link--active' : '' }") Filter by custom properties

      li.sidebar_list-item
        a(href="/examples/iframe-components" class="sidebar__link #{ current.path[1] == 'iframe-components' ? 'sidebar__link--active' : '' }") Iframe Components

      li.sidebar_list-item
        a(href="/examples/reorder-components" class="sidebar__link #{ current.path[1] == 'reorder-components' ? 'sidebar__link--active' : '' }") Reorder components

      li.sidebar_list-item
        a(href="/examples/serialize" class="sidebar__link #{ current.path[1] == 'serialize' ? 'sidebar__link--active' : '' }") Serialize

      li.sidebar_list-item
        a(href="/examples/amd-requirejs" class="sidebar__link #{ current.path[1] == 'amd-requirejs' ? 'sidebar__link--active' : '' }") AMD - Requirejs

      li.sidebar_list-item
        a(href="/examples/commonjs-browserify" class="sidebar__link #{ current.path[1] == 'commonjs-browserify' ? 'sidebar__link--active' : '' }") COMMONJS - Browserify

    h4 Concepts
    ul.sidebar_list
      li.sidebar_list-item
        a(href="/examples/multiple-layouts" class="sidebar__link #{ current.path[1] == 'multiple-layouts' ? 'sidebar__link--active' : '' }") Multiple layouts

      li.sidebar_list-item
        a(href="/examples/example-app" class="sidebar__link #{ current.path[1] == 'example-app' ? 'sidebar__link--active' : '' }") Example app

block content
  != partial("./examples")

block common-example-scripts
  script(src="/js/vigor.componentmanager.js")

  script(type="text/template" class="example-component-template").
    <h2>ExampleComponent: <%= title %></h2>
    <pre>
    tilte: <%= title %>
    urlPattern: <%= urlPattern %>
    filterString: <%= filterString %>
    includeIfFilterStringMatches: <%= includeIfFilterStringMatches %>
    excludeIfFilterStringMatches: <%= excludeIfFilterStringMatches %>
    conditions: <%= conditions %>
    urlParamsModel: <%= urlParamsModel %>
    args: <%= args %>
    </pre>
    <div class="component-output"></div>

  script(type="text/template" class="active-filter-template").
    <pre>
    {<% _.each(filterObj, function(val, key, list) { %>
      <%= key %>: <%= val %><% }); %>
      options: {<% _.each(options, function(val, key, list) { %>
        <%= key %>: <%= val %><% }); %>
      }
    }
    </pre>

  script(type="text/javascript" src="/examples/ExampleComponent.js")

  script.
    // Methods below is just used to display the filter on the example page
    var activeFilterTemplate = _.template($('.active-filter-template').html()),
        isToggled = false;

    $('.components-js__toggle').on('click', function () {
      $('.components-js__code').slideToggle(300);
      if (isToggled) {
        $(this).html('Show components.js');
      } else {
        $(this).html('Hide components.js');
      }
      isToggled = !isToggled;
    });

    showMsg = function (msg, filter) {
      fltr = $.extend(true, {}, filter)
      filterObj = setFilterDefaults(fltr)
      options = filterObj.options
      delete filterObj.options
      $('.active-filter').html(activeFilterTemplate({filterObj: filterObj, options: options}));
      $('.examples-info').html(msg);
    },

    setFilterDefaults = function (filter) {
      filter = filter || {};
      filter.options = filter.options || {};
      if (filter.options.add === undefined)
        filter.options.add = 'true';

      if (filter.options.remove === undefined)
        filter.options.remove = 'true';

      if (filter.options.merge === undefined)
        filter.options.merge = 'true';

      if (filter.options.invert === undefined)
        filter.options.invert = 'false';

      if (filter.options.forceFilterStringMatching === undefined)
        filter.options.forceFilterStringMatching = 'false';

      filter.url = filter.url || 'undefined';
      filter.filterString = filter.filterString || 'undefined';
      filter.includeIfStringMatches = filter.includeIfStringMatches || 'undefined';
      filter.excludeIfStringMatches = filter.excludeIfStringMatches || 'undefined';
      filter.hasToMatchString = filter.hasToMatchString || 'undefined';
      filter.cantMatchString = filter.cantMatchString || 'undefined';

      filter.options.add = filter.options.add.toString();
      filter.options.remove = filter.options.remove.toString();
      filter.options.merge = filter.options.merge.toString();
      filter.options.invert = filter.options.invert.toString();
      filter.options.forceFilterStringMatching = filter.options.forceFilterStringMatching.toString();

      for (var key in filter) {
        if (filter[key] !== 'undefined' && key !== 'options') {
          filter[key] = '<b>' + filter[key] + '</b>';
        }
      }
      return filter;
    }
