extends ./_custom_layout.jade

block header
  button.menu-toggle.entypo-menu
    span Toggle Menu

  header.header
    div.header-content
      h1
        a(href="#{base_url}/", class="header__title") Vigorjs ComponentManager

      nav.main-navigation
        ul.main-navigation__list
          li.main-navigation__list-item
            a(href="https://github.com/jonwalstedt/vigorjs.componentmanager" class="main-navigation__link entypo-github") View on GitHub
          li.main-navigation__list-item
            a(href="#{base_url}/docs" class="main-navigation__link #{ current.path[0] == 'docs' ? 'main-navigation__link--active' : '' }") Docs
          li.main-navigation__list-item
            a(href="#{base_url}/examples" class="main-navigation__link #{ current.path[0] == 'examples' ? 'main-navigation__link--active' : '' }") Examples
